<h1>{{postagem.titulo}}</h1><br>


<div class="card">
    <div class="card-body">
        <hr>
        <small>Data de publicaçao: {{postagem.data}}</small><br>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>